if BOARD_RAMEAU

config BOARD
    default "rameau"

if USB_DEVICE_STACK

config USB_DEVICE_VID
    default 0x1D50

config USB_DEVICE_PID
    default 0x615E

config USB_DEVICE_MANUFACTURER
    default "GK Keyboards"

config USB_DEVICE_PRODUCT
    default "Rameau"

endif # USB_DEVICE_STACK

endif # BOARD_RAMEAU
