CONFIG_SOC_SERIES_STM32U0X=y
CONFIG_SOC_STM32U073XX=y
CONFIG_BOARD_RAMEAU=y
CONFIG_CLOCK_CONTROL=y
CONFIG_GPIO=y
CONFIG_ADC=y
CONFIG_PINCTRL=y
CONFIG_USB_DEVICE_STACK=y
CONFIG_USB_DEVICE_HID=y
CONFIG_ZMK_USB=y
CONFIG_ZMK_KEYBOARD_NAME="Rameau"
CONFIG_ZMK_BLE=n
CONFIG_ZMK_KSCAN_DEBOUNCE_PRESS_MS=5
CONFIG_ZMK_KSCAN_DEBOUNCE_RELEASE_MS=5
CONFIG_ZMK_GK_HYBRID_MATRIX=y
CONFIG_SETTINGS=y